.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
DerivedData
.idea/
KPCC/Config.plist
KPCC/GoogleService-Info.plist
Pods/
project.xcworkspace/
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
.bundle/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
KPCC.ipa
KPCC.app.dSYM.*
