<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KPCC-TestFlight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KPCC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76349CAB18D3775F0027C3B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76349CCE18D377810027C3B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76349CF118D388C80027C3B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76A308C218C8FB940065D4B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76A308E918C8FB940065D4B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
